<ion-view view-title="Login">
    <ion-content class="padding">
        <form name="loginForm" ng-submit="signupForm(loginForm)" novalidate>
            <label class="item item input">
                <input name="email" type="text" placeholder="Email" required ng-model="user.email">
            </label>
            <label class="item item input">
                <input name="password" type="password" placeholder="Password" required ng-model="user.password">
            </label>
            <div class="padding">
                <button type="submit" class="button button-block button-calm"> Login </button>
            </div>
            
        </form>
    </ion-content>
</ion-view>