<ion-view view-title="Question #{{qNumber}}">
    <ion-nav-buttons></ion-nav-buttons>
    <!--</ion-nav-buttons>-->
    <!--  <button class="button button-icon button-clear icon ion-arrow-left-c" ng-click="goBack()">-->
    <!--  </button>-->
    <!--</ion-nav-buttons>-->
    <ion-content class="padding">
        <div class="card" ng-class="ptorQuestionGoA" ng-click="buttonClicked('A')">
          <div class="item item-divider">
            Option A
          </div>
          <div class="item item-text-wrap" ng-class="ptorQuestionTextA">
            {{questionA.Text}}
          </div>
        </div>  
        <div class="card" ng-click="buttonClicked('B')">
          <div class="item item-divider">
            Option B
          </div>
          <div class="item item-text-wrap">
            {{questionB.Text}}
          </div>
        </div>
    </ion-content>
</ion-view>